td {
    color :rgb(34, 34, 243);
    padding: 10px;
}

table {
    border-color: blueviolet;
}
form {
    text-align: center;
}
#hahaha {
    color: rgb(19, 32, 206);
}

.jarakkekiri {
    margin-left: 20px;
}